@import "../colors";

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue--dark;
  border-radius: 5px;
}
